.footer {
    background-color: #f4f7fe;

    .footer-content {

        margin: auto;

        h4 {
            font-size: 1.2rem;
            margin-bottom: .5rem;
        }

        .footer-item-logo {
            display: flex;
            align-items: center;
            justify-content: center;
            margin: auto;
            padding: 1rem 0;
            border-bottom: 1px solid $border-color;

            .logo img {
                width: 100px;
            }
        }

        .footer-itens-description {
            display: flex;
            flex-wrap: wrap;
            color: #fff;
            padding: 1rem 0;
            justify-content: space-between;


            @media screen and (max-width: $sm) {
                gap: 20px;
            }

            .footer-item {
                color: $text-color;
                max-width: 360px;

                &:last-child {
                    margin-right: 0;
                }

                a {
                    color: $description-color;
                    text-decoration: none;
                    align-items: center;
                    display: flex;
                    transition: .3s;

                    &:hover {
                        color: $primary-color;
                        transition: .3s;
                    }
                }

                @media screen and (max-width: $sm) {
                    width: 100%;
                    max-width: 100%;
                    margin-right: 0;
                }
            }
        }

        .footer-contact {
            display: flex;
            justify-content: space-between;
            margin-top: 1rem;
            max-width: 1000px;
            margin: 2rem auto auto auto;
            flex-wrap: wrap;

            @media screen and (max-width: $sm) {
                gap: 20px;
            }

            .footer-tel {
                ul {
                    display: flex;
                    flex-direction: column;
                    gap: 10px;
                    list-style: none;

                    li {
                        a {
                            color: $description-color;
                            text-decoration: none;
                            align-items: center;
                            display: flex;
                            transition: .3s;

                            &:hover {
                                color: $primary-color;
                                transition: .3s;
                            }
                        }
                    }
                }
            }
        }



    }
}