.footer {
    background-color: #f4f7fe;
    padding: 2rem 0;


    .footer-content {
        max-width: 1280px;
        display: flex;
        flex-wrap: wrap;
        color: #fff;
        padding: 20px;
        justify-content: space-between;

        .footer-item {
            color: $text-color;
            max-width: 360px;


            &:last-child {
                margin-right: 0;
            }

            @media screen and (max-width: 630px) {

                width: 100%;
                max-width: 100%;
                margin-right: 0;

            }
        }


    }
}