.form-content {
    padding: 1rem;
    border-radius: $radius;
    position: relative;

    .form-link {
        color: $text-color;
        transition: .3s;

        &:hover {
            color: $primary-color;
            transition: .3s;
        }
    }

    .form-title {
        margin-bottom: 1rem;
        text-align: center;

        h1 {
            font-size: 1.3rem;
        }

        p {
            color: $description-color;
            font-size: 0.875rem;
            margin-top: 1rem;
        }
    }

    .form {

        .form-group {
            display: flex;
            flex-direction: column;
            gap: 0.5rem;
            padding: 0.7rem 0;

            label {
                color: #374151;
                font-size: 0.875rem;
                font-weight: 400;

                span {
                    color: $danger;
                }
            }

            input,
            select {
                width: 100%;
                padding: .5rem;
                border-radius: $radius;
                background: none;
                border: 1px solid $border-color;
                background-color: #f9fafb;
            }
        }

        .form-category {

            h2 {
                font-size: 1.1rem;
                text-align: center;

                @media (max-width: 630px) {
                    margin-top: 1rem;
                }
            }
        }

        .inputs-group {
            display: flex;
            gap: 10px;
            align-items: center;
            width: 100%;

            .form-group {
                width: 100%;
            }

            &.endereco {
                .form-group.numero {
                    width: 20%;
                }
            }
        }

        .form-buttons {
            display: flex;
            align-items: center;
            justify-content: space-between;

            .form-actions {
                display: flex;
            }


            @media (max-width: 630px) {
                .message_error {
                    p {
                        margin-top: 1rem;
                        justify-content: center;
                    }
                }

            }
        }

    }
}