.header {
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 6px 24px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, .2);
    border-bottom: 1px solid #CCC;
    position: fixed;
    top: 0;
    z-index: 20;
    background-color: #FFF;

    .menu {
        display: flex;
        gap: 20px;

        .menu-list {
            display: flex;
            gap: 30px;
            align-items: center;
            list-style: none;

            .menu-list-item {
                a {
                    text-decoration: none;
                    color: $text-color;
                    transition: .3s;

                    &:hover {
                        color: $primary-color;
                        transition: .3s;
                    }
                }
            }
        }
    }

    .header-actions {
        display: flex;
        gap: 10px;
    }

    .menu-mobile {
        display: none;
    }

    @media(max-width: 767px) {

        .menu {
            display: none;
            position: fixed;
            right: -213px;

            &.active {
                display: block;
                flex-direction: column;
                gap: 13px;
                top: 80px;
                right: 0;
                width: 63%;
                height: 100%;
                background-color: #FFF;
                padding: 1rem;
                z-index: 9;

                .menu-list {
                    flex-direction: column;

                    .menu-list-item {
                        width: 100%;
                    }
                }

                .header-actions {
                    display: block;
                }
            }
        }

        .menu-mobile {
            display: block;
            background: none;
            border: none;
            padding: .5rem;
            border-top-right-radius: $radius;
            border-top-left-radius: $radius;

            span {
                display: block;
                width: 30px;
                height: 3px;
                background-color: $description-color;
                margin: 5px 0;
                transition: .3s;
            }

            &:hover {
                background-color: $primary-color;
                transition: .3s;

                span {
                    background-color: #FFF;
                }
            }
        }

        .header-actions {
            display: none;
        }
    }


    &.cliente {

        .aside-open {
            display: none;

            @media(max-width: $sm) {

                display: block;
                background: none;
                border: none;
                display: flex;
                align-items: center;
                justify-content: center;

                img {
                    transform: rotate(180deg);
                }

                &.active {
                    background-color: #CCC;
                    border-radius: $radius;

                    img {
                        transform: rotate(-0deg);
                    }
                }
            }

        }

    }

}