.header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 6px 24px;
    box-shadow: $bx-shadow;
    border-bottom: 1px solid $border-color;
    position: sticky;
    top: 0;
    z-index: 20;
    background-color: #FFF;

    .menu {
        display: flex;
        gap: 20px;

        .menu-list {
            display: flex;
            gap: 30px;
            align-items: center;
            list-style: none;

            .menu-list-item {
                a {
                    text-decoration: none;
                    color: $text-color;
                    transition: .3s;

                    &:hover {
                        color: $primary-color;
                        transition: .3s;
                    }
                }
            }
        }
    }

    .header-actions {
        display: flex;
        gap: 10px;
    }

    .nav-mobile {
        display: none;
    }

    .menu-mobile {
        display: none;
    }

    @media(max-width: 767px) {

        .menu {
            display: none;
        }

        .nav-mobile {
            display: none;
            position: fixed;
            right: -213px;

            &.active {
                display: block;
                flex-direction: column;
                gap: 13px;
                top: 0;
                right: 0;
                width: 100%;
                height: 100%;
                background-color: #FFF;
                z-index: 9;

                .nav-mobile-header {
                    display: flex;
                    padding: 0.5rem 1rem;
                    justify-content: space-between;
                    align-items: center;
                    border-bottom: 1px solid $border-color;

                    #closeNavMobile {

                        padding: 1rem;
                        display: block;
                        border: none;
                        background: none;
                        color: $description-color;
                        font-size: 1.4rem;

                    }
                }

                .nav-mobile-links {
                    border-bottom: 1px solid $border-color;
                    padding: .5rem;

                    .nav-mobile-links-item {
                        color: $description-color;
                        width: 100%;

                        a {
                            width: 100%;
                            display: flex;
                            justify-content: space-between;
                            align-items: center;
                            padding: .35rem .35rem .35rem 1rem;
                            border-radius: .375rem;
                            color: $description-color;
                            transition: .3s;
                            cursor: pointer;
                            text-decoration: none;
                            font-size: 1rem;

                            &:hover {
                                background-color: #f0eded;
                                transition: .3s;
                            }
                        }
                    }
                }

                .nav-mobile-buttons {
                    padding: 0 1rem;
                }


                .menu-list {
                    flex-direction: column;

                    .menu-list-item {
                        width: 100%;
                    }
                }

                .header-actions {
                    display: block;
                }
            }
        }

        .menu-mobile {
            display: block;
            background: none;
            border: none;
            padding: .5rem;
            border-top-right-radius: $radius;
            border-top-left-radius: $radius;

            span {
                display: block;
                width: 30px;
                height: 3px;
                background-color: $description-color;
                margin: 5px 0;
                transition: .3s;
            }

            &:hover {
                background-color: $primary-color;
                transition: .3s;

                span {
                    background-color: #FFF;
                }
            }
        }

        .header-actions {
            display: none;
        }
    }

    &.cliente {

        .aside-open {
            display: none;

            @media(max-width: $sm) {

                display: block;
                background: none;
                border: none;
                display: flex;
                align-items: center;
                justify-content: center;

                img {
                    transform: rotate(180deg);
                }

                &.active {
                    background-color: #CCC;
                    border-radius: $radius;

                    img {
                        transform: rotate(-0deg);
                    }
                }
            }
        }

        .menu-profile {
            position: relative;

            .menu-profile-button {
                background: none;
                border: none;
                cursor: pointer;
            }

            .menu-profile-content {
                display: none;

                &.active {
                    display: block;
                    background-color: #FFF;
                    box-shadow: 0 0 9px -5px rgba(0, 0, 0, .5);
                    position: absolute;
                    top: 100%;
                    right: 20px;
                    width: 282px;
                    overflow-x: auto;
                    border-radius: $radius;

                    #closeMenuProfile {
                        display: none;
                    }

                    .menu-profile-header {
                        padding: 1rem;
                        border-bottom: 1px solid $border-color;

                        .menu-profile-header-profile {
                            display: flex;
                            flex-direction: column;

                            .menu-profile-header-name {
                                font-weight: 500;
                                font-size: 1rem;
                            }

                            .menu-profile-header-email {
                                font-weight: 400;
                                font-size: .9rem;
                                color: $description-color;
                            }
                        }
                    }

                    .menu-profile-body {
                        .menu-profile-body-list {
                            padding: .5rem;

                            .menu-profile-body-title {
                                width: 100%;
                                display: flex;
                                justify-content: space-between;
                                align-items: center;
                                padding: .35rem .35rem .35rem 1rem;
                                border-radius: $radius;
                                color: $description-color;
                                transition: .3s;
                                cursor: pointer;

                                a {
                                    text-decoration: none;
                                    color: #4b5563;
                                    width: 100%;
                                }

                                .menu-profile-body-titles {
                                    display: flex;
                                    gap: 16px;
                                    align-items: center;
                                    font-size: 0.9rem;
                                }

                                &:hover {
                                    background-color: #f0eded;
                                    transition: .3s;
                                }
                            }
                        }
                    }

                    .menu-profile-footer {
                        padding: 1rem;
                        border-top: 1px solid $border-color;

                        .btn {
                            display: flex;
                            justify-content: center;
                        }
                    }

                    @media (max-width: $sm) {
                        top: 0;
                        position: fixed;
                        right: 0;
                        left: 0;
                        width: 100vw;
                        height: 100vh;

                        .menu-profile-header {
                            display: flex;
                            justify-content: space-between;
                            align-items: center;

                            #closeMenuProfile {
                                padding: 1rem;
                                display: block;
                                border: none;
                                background: none;
                                color: $description-color;
                                font-size: 1.4rem;
                            }
                        }
                    }
                }
            }
        }
    }
}