.page-home {
    margin-top: 8rem;

    @media(max-width: 630px) {
        margin-top: 3rem;
        padding: 1rem;
    }

    .list-content {
        margin-top: .8rem;

        li {
            font-weight: 400;
            margin-top: .5rem;
            display: flex;
            gap: 10px;
            position: relative;
            align-items: center;

            &::before {
                content: '';
                width: 20px;
                height: 20px;
                display: block;
                background-image: url('../../img/icons/check.svg');
            }
        }
    }

    @import './components/anuncio.scss';
    @import './components/planos.scss';


}