.system {
    background-color: #f0eded;

    .page-cliente {
        display: flex;
        position: relative;

        @media(max-width: 629px) {
            display: block;
        }

        .page-cliente-aside {
            padding: 1rem 0;
            background: #FFF;
            box-shadow: 1px 1px 2px rgba(0, 0, 0, .2);
            width: 16rem;
            position: fixed;
            height: calc(100vh - 80px);

            @media(max-width: $sm) {
                left: 260px;
                display: none;
                transition: .3s;

                &.active {
                    transition: .3s;
                    display: block;
                    top: 80px;
                    left: 0;
                    z-index: 9;
                }
            }

            .page-cliente-aside-content {
                overflow: auto;
                display: flex;
                flex-direction: column;
                width: 100%;
                padding: 0 1rem;

                .page-cliente-aside-header {
                    border-bottom: 2px solid $border-color;
                    padding-bottom: 1rem;
                    margin-bottom: 1rem;

                    .aside-category-title {
                        width: 100%;

                        a {
                            text-decoration: none;
                            color: $description-color;
                            font-size: 1rem;
                            width: 100%;
                        }
                    }
                }

                .aside-category {
                    .aside-category-title {
                        width: 100%;
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        padding: .35rem .35rem .35rem 1rem;
                        border-radius: $radius;
                        color: $description-color;
                        transition: .3s;
                        cursor: pointer;

                        .aside-category-titles {
                            display: flex;
                            gap: 16px;
                            align-items: center;
                            font-size: 0.9rem;
                            width: 100%;
                        }

                        &:hover {
                            background-color: #f0eded;
                            transition: .3s;
                        }

                        .icon-arrow {
                            transition: .3s;

                            &.active {
                                transform: rotate(-180deg);
                                transition: .3s;
                            }
                        }
                    }

                    .aside-nav {
                        display: none;

                        .aside-list {
                            list-style: none;

                            .aside-list-item {
                                width: 100%;
                                border-radius: $radius;
                                display: flex;
                                padding: .35rem .35rem .35rem 1rem;
                                transition: .3s;
                                cursor: pointer;
                                font-size: 0.9rem;

                                a {
                                    text-decoration: none;
                                    color: $description-color;
                                    padding-left: 2rem;
                                    width: 100%;
                                }

                                &:hover {
                                    background-color: #f0eded;
                                    transition: .3s;
                                }
                            }
                        }

                        &.active {
                            display: flex;
                            flex-direction: column;
                        }
                    }
                }
            }
        }

        .page-cliente-main {
            width: 100%;
            margin-left: 16rem;

            @media(max-width: $sm) {
                margin: 0;
            }

            .page-cliente-main-content {
                padding: 1rem;

                .page-cliente-main-header {
                    background-color: #f5f7fa;
                    padding: 2rem 1rem;
                    border-radius: $radius;
                    box-shadow: $bx-shadow;

                    h2 {
                        font-size: 1.2rem;
                        color: $text-color;
                    }
                }

                .page-cliente-main-body {
                    margin-top: 1rem;
                    @include content-grid;
                    gap: 20px;

                    .tab {
                        width: 100%;
                        background-color: #FFF;
                        border-radius: $radius;
                        box-shadow: $bx-shadow;

                        .tab-header {
                            padding: 1rem;
                            border-bottom: 1px solid $border-color;
                        }

                        .tab-content {
                            display: flex;
                            align-items: center;
                            padding: 1rem;
                            justify-content: space-between;

                            .tab-content-description {
                                display: flex;
                                align-items: center;
                                gap: 10px;
                                width: 100%;

                                p {
                                    color: $description-color;
                                }
                            }
                        }
                    }

                    @media(max-width: $md) {
                        grid-template-columns: 1fr;
                    }

                    @media(max-width: $sm) {

                        .tab {
                            .tab-content {
                                flex-direction: column;
                                gap: 20px;

                                .btn {
                                    width: 100%;
                                    display: flex;
                                    justify-content: center;
                                }
                            }
                        }
                    }
                }
            }
        }

        .category-title {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 2rem 1rem;
            color: $description-color;
            background-color: #f5f7fa;
            margin-bottom: 1rem;
            border-radius: $radius;
            box-shadow: $bx-shadow;

            h4 {
                font-size: 1rem;
            }
        }

        .page-cliente-usuarios {
            padding: 1rem;
            width: 100%;
            margin-left: 16rem;

            @media(max-width: $sm) {
                margin: 0;
            }

            .list-users {
                .list-users-content {
                    background-color: #FFF;
                    box-shadow: $bx-shadow;
                    padding: 0 1.6rem;
                    border-radius: $radius;

                    .list-users-title {
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        padding: 1rem 0;

                        @media (max-width: $sm) {
                            flex-direction: column;
                            gap: 10px;
                        }

                        .list-users-actions {
                            display: flex;
                            align-items: center;
                            gap: 10px;

                            .btn.pdf {
                                background-color: #6c757d;
                            }

                            .form-content {
                                position: relative;
                                padding: 0;

                                .form {
                                    .form-group {
                                        #buscarNome {
                                            height: 46px;
                                        }
                                    }
                                }
                            }

                            .resultado-busca {
                                position: absolute;
                                bottom: -150px;
                                width: 100%;
                                padding: .5rem;

                                .resultado-busca-content {
                                    background-color: #FFF;
                                    box-shadow: $bx-shadow;
                                    height: 150px;
                                    overflow: scroll;
                                    border-radius: $radius;

                                    .resultado-busca-lista {
                                        padding: .5rem .5rem 0 .5rem;

                                        a {
                                            text-decoration: none;
                                            width: 100%;
                                            padding: .5rem;
                                            transition: .3s;
                                            color: #000;
                                            display: block;
                                            border-radius: $radius;

                                            &:hover {
                                                background-color: #f0eded;
                                                transition: .3s;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }

                    .list-users-count {
                        color: $primary-color;
                        font-weight: 400;
                        font-size: 1rem;
                    }

                    .list-users-table-content {
                        display: flex;
                        align-items: center;
                        overflow: auto;

                        .list-users-table {
                            flex-shrink: 0;
                            border-collapse: collapse;
                            width: 100%;

                            .table-id {
                                width: 5%;
                            }

                            .table-permissao {
                                width: 10%;
                            }

                            .table-buttons {
                                width: 5%;
                            }

                            thead {
                                border-bottom: 2px solid $border-color;

                                tr {

                                    th {
                                        font-size: 0.875rem;
                                        font-weight: 500;
                                        padding: 8px;
                                        color: $text-color;
                                        border-bottom: 2px solid $border-color;
                                        border-top: 2px solid $border-color;
                                        text-align: left;
                                    }

                                    td {
                                        width: 20%;

                                        @media(max-width: $sm) {
                                            width: 100%;
                                        }
                                    }
                                }
                            }

                            tbody {
                                tr {
                                    border-bottom: 1px solid $border-color;

                                    td {
                                        width: 15%;
                                        font-size: 0.813rem;
                                        color: $text-color;
                                        padding: .25rem;
                                        text-align: left;

                                        @media(max-width: $sm) {
                                            width: 100%;
                                        }

                                        & p {
                                            padding: 0.5rem;
                                            color: #FFF;
                                            border-radius: $radius;
                                            width: 100%;
                                            text-align: center;
                                        }

                                        &#comum p {
                                            background-color: #6c757d;
                                        }

                                        &#comum p {
                                            background-color: #6c757d;
                                        }

                                        &#administrador p {
                                            background-color: $primary-color;
                                        }
                                    }
                                }
                            }

                            .table-buttons {
                                display: flex;
                                gap: 10px;
                                width: 100%;

                                .btn {
                                    background-color: #f5f7fa;
                                    color: $text-color;

                                    &:hover {
                                        background-color: #dfdfe0;
                                    }
                                }
                            }
                        }
                    }

                    .list-users-pagination {
                        padding: 1rem;
                        display: flex;
                        justify-content: center;
                        overflow: auto;

                        ul {
                            flex-shrink: 0;
                            display: flex;

                            border: 1px solid $border-color;

                            li {
                                border-right: none;

                                .page-link {
                                    background: none;
                                    border-left: none;
                                    border-right: none;
                                    border-top: 1px solid transparent;
                                    border-bottom: 1px solid transparent;
                                    padding: .5rem 1rem;
                                    cursor: pointer;
                                    transition: .3s;

                                    &:hover {
                                        background: $primary-color;
                                        color: #FFF;
                                        transition: .3s;
                                    }

                                    &.active {
                                        background: $primary-color;
                                        color: #FFF;
                                    }
                                }
                            }
                        }
                    }

                    .result-null {
                        display: none;

                        &.active {
                            display: block;
                            padding: 1rem;
                            font-size: 0.875rem;
                            justify-content: center;
                            display: flex;
                            color: $description-color;
                        }
                    }

                    @media(max-width: $sm) {
                        padding: .2rem 1rem;

                        .list-users-table-content {
                            padding: .5rem 0;
                        }

                        .list-users-count {
                            font-size: .9rem;
                        }

                        .list-users-actions {
                            align-items: initial;

                            .btn {
                                height: 40px;
                                width: 40px;
                                font-size: 0;
                                padding: .5rem;

                            }
                        }
                    }
                }
            }
        }

        .modal-exclude {
            display: none;

            &.active {
                background-color: #00000060;
                z-index: 20;
                width: 100vw;
                height: 100vh;
                display: flex;
                align-items: center;
                justify-content: center;
                margin: auto;
                position: fixed;
                top: 0;
                left: 0;

                .modal-content {
                    padding: 1rem;
                    background-color: #FFF;
                    box-shadow: $bx-shadow;
                    width: 30rem;

                    .modal-header {
                        border-bottom: 1px solid $border-color;
                        display: flex;
                        justify-content: space-between;
                        align-items: center;


                        h2 {
                            font-size: 1.1rem;
                        }

                        .closeModal {
                            padding: 0.5rem;
                            background: none;
                            border: none;
                            color: $description-color;
                            cursor: pointer;
                            transition: .3s;

                            &:hover {
                                color: $primary-color;
                                transition: .3s;
                            }
                        }
                    }

                    .buttons-modal {
                        padding: .5rem;
                        width: 100%;
                        display: flex;
                        gap: 10px;

                        .btn {
                            width: 100%;
                            text-align: center;
                            justify-content: center;
                            font-size: 0.8rem;
                            cursor: pointer;
                        }
                    }

                    @media (max-width: $sm) {
                        width: 90%;

                        .modal-header {
                            h2 {
                                font-size: 1rem;
                            }
                        }
                    }
                }
            }
        }

        .page-cliente-editar {
            padding: 1rem;
            width: 100%;
            margin-left: 16rem;

            @media(max-width: $sm) {
                margin: 0;
            }

            .form-content {
                padding: 0;
                background-color: #FFF;
                box-shadow: $bx-shadow;

                .header-modal {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    width: 100%;
                    position: absolute;
                    top: 0;
                    background: #FFF;
                    left: 0;
                    padding: 1rem;
                    box-shadow: $bx-shadow;

                    #closeModal {
                        background: none;
                        border: none;
                        font-size: 1rem;
                        cursor: pointer;
                    }
                }

                .form {
                    padding: 1rem;

                    .form-content-block {
                        display: flex;
                        gap: 10px;
                        justify-content: space-between;
                        flex-wrap: wrap;

                        .form-image {
                            .form-image-content {
                                position: sticky;
                                top: calc(1em + 100px);

                                img {
                                    width: 290px;
                                    max-width: 100%;
                                    border-radius: 50%;
                                    height: 200px;
                                }
                            }
                        }
                    }

                    .form-container {
                        display: flex;
                        flex-direction: column;
                        gap: 10px;
                        width: 68%;

                        @media(max-width: $sm) {
                            width: 100%;

                            .form-category {
                                margin-bottom: 1rem;
                            }
                        }
                    }

                    .form-buttons {
                        width: 100%;
                        display: flex;
                        gap: 10px;
                        justify-content: end;

                        .form-actions {
                            width: 100%;
                            gap: 10px;
                            align-items: center;
                            justify-content: end;
                        }

                        @media(max-width: $sm) {
                            margin-top: 1rem;

                            .btn {
                                display: flex;
                                justify-content: center;
                                width: 100%;
                                text-align: center;
                                font-size: .8rem;
                            }
                        }
                    }
                }
            }
        }

        .page-cliente-info {
            padding: 1rem;
            width: 100%;
            margin-left: 16rem;

            @media(max-width: $md) {
                margin: 0;
                width: 100%;
            }

            .page-cliente-info-content {
                display: block;

                .content-title {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    padding: 2rem 1rem;
                    background-color: #f5f7fa;
                    margin-bottom: 1rem;
                    border-radius: .375rem;
                    box-shadow: $bx-shadow;

                    h2 {
                        color: #4b5563;
                        font-size: 1rem;
                    }
                }

                .page-cliente-info-helpers {
                    display: flex;
                    justify-content: space-between;
                    width: 100%;
                    flex-wrap: wrap;

                    @media(max-width: $md) {
                        gap: 10px;
                    }

                    .page-cliente-info-image {
                        background-color: #FFF;
                        border-radius: $radius;
                        box-shadow: $bx-shadow;
                        border: 1px solid $border-color;
                        width: 45%;
                        height: 100%;
                        padding: 1rem;

                        @media(max-width: $md) {
                            width: 100%;
                            padding: 0;
                        }

                        .info-image-block {
                            height: 100%;

                            .form {
                                height: 100%;
                                padding: 1rem;

                                img {
                                    max-width: 100%;
                                }

                                label {
                                    display: flex;
                                    align-items: center;
                                    justify-content: center;
                                    flex-direction: column;
                                    cursor: pointer;
                                    transition: .3s;
                                    border: 2px dotted #000;
                                    border-radius: $radius;
                                    padding: 1rem;

                                    input {
                                        margin: 1rem 0;
                                    }

                                    .info-imagem-typeFiles {
                                        color: $description-color;
                                        font-size: 14px;
                                        text-align: center;
                                        transition: .3s;
                                    }

                                    &:hover {
                                        border-color: $primary-color;
                                        transition: .3s;

                                        .info-image-description,
                                        .info-imagem-typeFiles {
                                            color: $primary-color;
                                        }
                                    }
                                }

                                .info-image-footer {
                                    display: flex;
                                    align-items: center;
                                    gap: 5px;
                                    margin-top: 1rem;

                                    .btn {
                                        width: 100%;
                                    }
                                }
                            }
                        }
                    }

                    .page-cliente-info-blocks {
                        width: 54%;
                        display: flex;
                        flex-direction: column;
                        gap: 10px;

                        @media(max-width: $md) {
                            width: 100%;
                        }

                        .page-cliente-info-block {
                            background-color: #FFF;
                            border-radius: $radius;
                            box-shadow: $bx-shadow;
                            border: 1px solid $border-color;

                            .info-block-header {
                                border-bottom: 1px solid $border-color;
                                padding: 1rem;

                                h3 {
                                    font-size: 1rem;
                                }
                            }

                            .info-block-sub-header {
                                border-bottom: 1px solid $border-color;
                                padding: 1rem;

                                p {
                                    color: $description-color;
                                }
                            }

                            .info-block {
                                border-bottom: 1px solid $border-color;
                                padding: 1rem;
                                display: flex;
                                justify-content: space-between;

                                p {
                                    width: 50%;
                                    color: $description-color;
                                    font-size: 0.875rem;
                                }

                                div {
                                    width: 50%;
                                    color: $text-color;
                                }

                                &.action {
                                    justify-content: end;
                                }
                            }

                            .info-block:last-child {
                                border-bottom: none;
                            }
                        }
                    }
                }

                .view-modal-personal {
                    display: none;

                    &.active {
                        display: block;
                        background-color: rgba(0, 0, 0, .3764705882);
                        z-index: 20;
                        width: 100vw;
                        height: 100vh;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        margin: auto;
                        position: fixed;
                        top: 0;
                        left: 0;
                        padding: 1rem;

                        @media (max-width: $sm) {
                            padding: 0;
                        }
                    }

                    .view-modal-personal-content {
                        background-color: #fff;
                        width: 50rem;

                        @media (max-width: $sm) {
                            height: 100%;
                        }

                        .personal-modal-header {
                            display: flex;
                            align-items: center;
                            justify-content: space-between;
                            border-bottom: 1px solid $border-color;
                            padding: 1rem;

                            h2 {
                                font-size: 2rem;
                            }

                            #closeModalPessoal {
                                font-size: 1.2rem;
                                padding: .5rem;
                                background: none;
                                border: none;
                                color: $description-color;
                                cursor: pointer;
                                transition: .3s;
                                background-color: none;

                                &:hover {
                                    color: $primary-color;
                                    transition: .3s;
                                }
                            }

                            @media(max-width: $md) {
                                h2 {
                                    font-size: 1rem;
                                }
                            }
                        }

                        .personal-modal-body {

                            .modal-body-content {
                                width: 100%;

                                .form-container {
                                    padding: 1rem;
                                    height: 70vh;
                                    overflow: auto;

                                    @media(max-width: $sm) {
                                        height: 80vh;

                                        .form-category {
                                            margin-top: 1rem;
                                        }
                                    }
                                }

                                @media(max-width: $md) {

                                    .form-content {
                                        padding: 0;
                                    }
                                }
                            }
                        }

                        .personal-modal-footer {
                            padding: 1rem 0;
                            border-top: 1px solid $border-color;
                            display: flex;
                            align-items: center;
                            gap: 5px;
                            justify-content: end;


                            @media(max-width: $md) {
                                padding: 1rem;

                                .btn {
                                    width: 100%;
                                }
                            }
                        }
                    }
                }

                .view-modal-login {
                    display: none;

                    &.active {
                        display: block;
                        background-color: rgba(0, 0, 0, .3764705882);
                        z-index: 20;
                        width: 100vw;
                        height: 100vh;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        margin: auto;
                        position: fixed;
                        top: 0;
                        left: 0;
                        padding: 1rem;

                        @media (max-width: $sm) {
                            padding: 0;
                        }
                    }

                    .view-modal-login-content {
                        background-color: #fff;
                        width: 50rem;

                        @media (max-width: $sm) {
                            height: 100%;
                        }

                        .login-modal-header {
                            display: flex;
                            align-items: center;
                            justify-content: space-between;
                            border-bottom: 1px solid $border-color;
                            padding: 1rem;

                            h2 {
                                font-size: 2rem;
                            }

                            #closeModalLogin {
                                font-size: 1.2rem;
                                padding: .5rem;
                                background: none;
                                border: none;
                                color: $description-color;
                                cursor: pointer;
                                transition: .3s;
                                background-color: none;

                                &:hover {
                                    color: $primary-color;
                                    transition: .3s;
                                }
                            }

                            @media(max-width: $md) {
                                h2 {
                                    font-size: 1rem;
                                }
                            }
                        }

                        .login-modal-body {

                            .modal-body-content {
                                width: 100%;

                                .form-container {
                                    padding: 1rem;
                                    height: 70vh;
                                    overflow: auto;

                                    @media (max-width: $sm) {
                                        height: 80vh;
                                    }
                                }

                                @media(max-width: $md) {

                                    .form-content {
                                        padding: 0;
                                    }
                                }
                            }
                        }

                        .login-modal-footer {
                            padding: 1rem 0;
                            border-top: 1px solid $border-color;
                            display: flex;
                            align-items: center;
                            gap: 5px;
                            justify-content: end;

                            @media(max-width: $md) {
                                padding: 1rem;

                                .btn {
                                    width: 100%;
                                }
                            }
                        }
                    }
                }
            }
        }

        .page-cliente-model-db {
            padding: 1rem;
            width: 100%;
            margin-left: 16rem;

            .model-db-content {
                display: flex;
                gap: 10px;
                flex-wrap: wrap;

                .table-db {
                    background: #FFF;
                    width: 100%;
                    box-shadow: $bx-shadow;
                    border-radius: $radius;
                    padding: 1rem;

                    .table-db-title {
                        width: 100%;
                        margin-bottom: 1rem;

                        h2 {
                            text-align: center;
                            font-size: 1rem;
                        }
                    }

                    .table-db-content {
                        flex-shrink: 0;
                        border-collapse: collapse;
                        width: 100%;

                        thead {
                            border-top: 2px solid $border-color;
                            border-bottom: 2px solid $border-color;

                            tr {

                                th {
                                    font-size: 14px;
                                    font-weight: 500;
                                    padding: 8px;
                                    color: $text-color;
                                    text-align: left;

                                }

                                td {
                                    width: 20%;

                                    @media(max-width: $sm) {
                                        width: 100%;
                                    }
                                }
                            }
                        }

                        tbody {
                            tr {

                                &:last-child {
                                    border-bottom: none;
                                }

                                td {
                                    width: 15%;
                                    font-size: 13px;
                                    color: $text-color;
                                    padding: .25rem;
                                    text-align: left;

                                    @media(max-width: $sm) {
                                        width: 100%;
                                    }

                                    & p {
                                        padding: 0.5rem;
                                        color: #FFF;
                                        border-radius: $radius;
                                        width: 100%;
                                        text-align: center;
                                    }

                                    &#comum p {
                                        background-color: #6c757d;
                                    }

                                    &#comum p {
                                        background-color: #6c757d;
                                    }

                                    &#administrador p {
                                        background-color: $primary-color;
                                    }
                                }
                            }
                        }
                    }

                    @media(max-width: $sm) {
                        overflow-x: scroll;
                    }
                }
            }

            @media(max-width: $sm) {
                margin: 0;

                .model-db-content {
                    .card-db {
                        width: 100%;
                    }
                }
            }
        }

        .page-cliente-signature {
            width: 100%;
            margin-left: 16rem;
            padding: 1rem;
            position: relative;

            @media (max-width: $sm) {
                margin: auto;
            }

            .signature-content {
                padding: 1rem;
                background: #FFF;
                box-shadow: $bx-shadow;
                border-radius: $radius;

                .card-signature-active {
                    background: #FFF;
                    width: 250px;
                    border: 1px solid $border-color;
                    border-radius: $radius;
                    box-shadow: $bx-shadow;

                    @media(max-width: $sm) {
                        width: 100%;
                    }

                    .signature-active-header {
                        border-bottom: 1px solid $border-color;
                        padding: 1rem;

                        h2 {
                            font-size: 1.2rem;
                        }
                    }

                    .signature-active-body {

                        .signature-active-body-price,
                        .signature-active-body-date {
                            border-bottom: 1px solid $border-color;
                            padding: 1rem;
                            color: $description-color;
                        }
                    }

                    .signature-active-footer {
                        padding: 1rem;

                        .btn {
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            width: 100%;
                        }
                    }
                }

                .view-signature-modal {
                    display: none;

                    &.active {
                        display: block;
                        background-color: rgba(0, 0, 0, .3764705882);
                        z-index: 20;
                        width: 100vw;
                        height: 100vh;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        margin: auto;
                        position: fixed;
                        top: 0;
                        left: 0;
                        padding: 1rem;

                        @media(max-width: $sm) {
                            padding: 0;
                        }
                    }

                    .view-signature-modal-content {
                        background-color: #fff;
                        width: 50rem;

                        @media(max-width: $sm) {
                            height: 100%;
                        }

                        .signature-modal-header {
                            display: flex;
                            align-items: center;
                            justify-content: space-between;
                            border-bottom: 1px solid $border-color;
                            padding: 1rem;

                            h2 {
                                font-size: 2rem;
                            }

                            #closeModalSignature {
                                font-size: 1.2rem;
                                padding: .5rem;
                                background: none;
                                border: none;
                                color: $description-color;
                                cursor: pointer;
                                transition: .3s;
                                background-color: none;

                                &:hover {
                                    color: $primary-color;
                                    transition: .3s;
                                }
                            }
                        }

                        .signature-modal-body {
                            padding: 1rem;
                            height: 70vh;
                            overflow: auto;

                            @media (max-width: $sm) {
                                height: 75vh;
                            }

                            .modal-body-content {
                                display: flex;
                                justify-content: space-between;
                                gap: 20px;
                                flex-wrap: wrap;

                                .body-content-card {

                                    border: 1px solid $border-color;
                                    border-radius: $radius;
                                    width: 50%;

                                    @media(max-width: $sm) {
                                        width: 100%;
                                    }

                                    .content-card-title {
                                        border-bottom: 1px solid $border-color;
                                        padding: .5rem 1rem;

                                        h2 {
                                            font-size: 1.2rem;
                                            text-align: center;
                                        }
                                    }

                                    .content-card-block {
                                        border-bottom: 1px solid $border-color;
                                        padding: 1rem;

                                        &:last-child {
                                            border-bottom: none;
                                        }

                                        h3 {
                                            font-size: 1rem;
                                            color: $description-color;
                                            font-weight: 600;
                                        }

                                        span {
                                            color: $description-color;
                                        }
                                    }
                                }
                            }
                        }

                        .signature-modal-footer {
                            padding: 1rem 0;
                            border-top: 1px solid $border-color;
                            display: flex;
                            align-items: center;
                            gap: 5px;
                            justify-content: end;
                            flex-wrap: wrap;

                            @media (max-width: $sm) {
                                padding: 1rem;

                                .btn {
                                    width: 100%;
                                }
                            }
                        }
                    }
                }

                .form-container {
                    border: 1px solid $border-color;
                    padding: 1rem;
                    border-radius: $radius;

                    .signature-list-header {
                        display: grid;
                        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
                        align-items: center;
                        border: 1px solid $border-color;
                        border-radius: $radius;
                        padding: .5rem;

                        .signature-list-header-item {
                            font-size: .875rem;
                            text-align: center;
                        }
                    }

                    .signature-list-content {
                        border: 1px solid $border-color;
                        border-radius: $radius;

                        .signature-list-options-content {
                            display: grid;
                            grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
                            align-items: center;
                            transition: .3s;
                            padding: 1rem;

                            .signature-list-option-item {
                                text-align: center;
                            }

                            border-bottom: 1px solid $border-color;

                            &:last-child {
                                border-bottom: none;
                            }

                            input[type="checkbox"] {
                                width: initial;
                            }

                            &:hover {
                                background: #f0f0f0;
                                transition: .3s;
                            }

                            .signature-list-option {
                                display: flex;
                                grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
                                align-items: center;
                            }
                        }
                    }
                }

                .form-content {
                    padding: 0;
                    display: none;

                    &.active {
                        display: flex;
                        justify-content: center;

                        .form {
                            .form-buttons {
                                justify-content: end;
                                padding: 1rem 0;
                                width: 100%;
                            }
                        }
                    }

                }
            }

            .signature-screen-hidden {
                display: flex;
                align-items: center;
                flex-direction: column;
                gap: 10px;
                padding: 12rem;

                .signature-screen-hidden-description {
                    color: $description-color;
                }

                &.hidden {
                    display: none;
                }

                @media (max-width: $sm) {
                    padding: 0;
                }
            }
        }

    }
}