.page-contato {
    margin-top: 5rem;
    @import './components/cards.scss';

    .page-contato-form {
        .form-content {
            width: 45rem;
            margin: auto;

            .form {

                .form-category {
                    h2 {
                        font-size: 2rem;
                        margin-bottom: 1rem;
                    }

                    p {
                        text-align: center;
                        color: $description-color;
                    }
                }

                .form-buttons {
                    margin-top: 1rem;

                    p {
                        font-size: 14px;
                    }
                }
            }
        }
    }
}