.system {
    background-color: #f0eded;

    .page-cliente {
        display: flex;
        margin-top: 5rem;
        position: relative;

        @media(max-width: 629px) {
            display: block;
        }

        .page-cliente-aside {
            padding: 1rem 0;
            background: #FFF;
            box-shadow: 1px 1px 2px rgba(0, 0, 0, .2);
            width: 16rem;
            position: fixed;
            height: calc(100vh - 80px);

            @media(max-width: $sm) {
                left: 260px;
                display: none;
                transition: .3s;

                &.active {
                    transition: .3s;
                    display: block;
                    top: 80px;
                    left: 0;
                    z-index: 9;
                }
            }

            .page-cliente-aside-content {
                overflow: auto;
                display: flex;
                flex-direction: column;
                width: 100%;
                padding: 0 1rem;

                .page-cliente-aside-header {
                    border-bottom: 2px solid $border-color;
                    padding-bottom: 1rem;
                    margin-bottom: 1rem;

                    .aside-category-title {
                        a {
                            text-decoration: none;
                            color: $description-color;
                            font-size: 1rem;
                        }
                    }
                }

                .aside-category {
                    .aside-category-title {
                        width: 100%;
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        padding: .35rem .35rem .35rem 1rem;
                        border-radius: $radius;
                        color: $description-color;
                        transition: .3s;
                        cursor: pointer;

                        .aside-category-titles {
                            display: flex;
                            gap: 16px;
                            align-items: center;
                            font-size: 0.9rem;
                        }

                        &:hover {
                            background-color: #f0eded;
                            transition: .3s;
                        }

                        .icon-arrow {
                            transition: .3s;

                            &.active {
                                transform: rotate(-180deg);
                                transition: .3s;
                            }
                        }
                    }

                    .aside-nav {
                        display: none;

                        .aside-list {
                            list-style: none;

                            .aside-list-item {
                                width: 100%;
                                border-radius: $radius;
                                display: flex;
                                padding: .35rem .35rem .35rem 1rem;
                                transition: .3s;
                                cursor: pointer;
                                font-size: 0.9rem;

                                a {
                                    text-decoration: none;
                                    color: $description-color;
                                    padding-left: 2rem;
                                }

                                &:hover {
                                    background-color: #f0eded;
                                    transition: .3s;
                                }
                            }
                        }

                        &.active {
                            display: flex;
                            flex-direction: column;
                        }
                    }
                }
            }
        }

        .page-cliente-main {
            width: 100%;
            margin-left: 16rem;

            @media(max-width: $sm) {
                margin: 0;
            }

            .page-cliente-main-content {
                padding: 1rem;

                .page-cliente-main-header {
                    background-color: #f5f7fa;
                    padding: 2rem 1rem;
                    border-radius: $radius;
                    box-shadow: $bx-shadow;

                    h2 {
                        font-size: 1.2rem;
                        color: $text-color;
                    }
                }

                .page-cliente-main-body {
                    margin-top: 1rem;
                    @include content-grid;
                    gap: 20px;

                    .tab {
                        width: 100%;
                        background-color: #FFF;
                        border-radius: $radius;
                        box-shadow: $bx-shadow;

                        .tab-header {
                            padding: 1rem;
                            border-bottom: 1px solid $border-color;
                        }

                        .tab-content {
                            display: flex;
                            align-items: center;
                            padding: 1rem;
                            justify-content: space-between;


                            .tab-content-description {
                                display: flex;
                                align-items: center;
                                gap: 10px;

                                p {
                                    color: $description-color;
                                }
                            }

                        }
                    }

                    @media(max-width: $md) {
                        grid-template-columns: 1fr;
                    }

                    @media(max-width: $sm) {

                        .tab {
                            .tab-content {
                                flex-direction: column;
                                gap: 20px;

                                .btn {
                                    width: 100%;
                                    display: flex;
                                    justify-content: center;
                                }
                            }
                        }
                    }
                }
            }
        }

        .category-title {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 2rem 1rem;
            color: $description-color;
            background-color: #f5f7fa;
            margin-bottom: 1rem;
            border-radius: $radius;
            box-shadow: $bx-shadow;

            h4 {
                font-size: 1rem;
            }
        }

        .page-cliente-usuarios {
            padding: 1rem;
            width: 100%;
            margin-left: 16rem;

            @media(max-width: $sm) {
                margin: 0;
            }

            .list-users {
                .list-users-content {
                    background-color: #FFF;
                    box-shadow: $bx-shadow;
                    padding: 0 1.6rem;
                    border-radius: $radius;

                    .list-users-title {
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        padding: 1rem 0;

                        @media (max-width: $sm) {
                            flex-direction: column;
                            gap: 10px;
                        }

                        .list-users-actions {
                            display: flex;
                            align-items: center;
                            gap: 10px;

                            .btn.pdf {
                                background-color: #6c757d;
                            }

                            .form-content {
                                position: relative;
                                padding: 0;

                                .form {
                                    .form-group {
                                        #buscarNome {
                                            height: 46px;
                                        }
                                    }
                                }
                            }

                            .resultado-busca {
                                position: absolute;
                                bottom: -150px;
                                width: 100%;
                                padding: .5rem;

                                .resultado-busca-content {
                                    background-color: #FFF;
                                    box-shadow: $bx-shadow;
                                    height: 150px;
                                    overflow: scroll;
                                    border-radius: $radius;

                                    .resultado-busca-lista {
                                        padding: .5rem .5rem 0 .5rem;

                                        a {
                                            text-decoration: none;
                                            width: 100%;
                                            padding: .5rem;
                                            transition: .3s;
                                            color: #000;
                                            display: block;
                                            border-radius: $radius;

                                            &:hover {
                                                background-color: #f0eded;
                                                transition: .3s;
                                            }
                                        }
                                    }


                                }
                            }
                        }
                    }

                    .list-users-count {
                        color: $primary-color;
                        font-weight: 400;
                        font-size: 1rem;
                    }


                    .list-users-table-content {
                        display: flex;
                        align-items: center;
                        overflow: auto;

                        .list-users-table {
                            flex-shrink: 0;
                            border-collapse: collapse;
                            width: 100%;


                            .table-id {
                                width: 5%;
                            }

                            .table-permissao {
                                width: 10%;
                            }

                            .table-buttons {
                                width: 5%;
                            }

                            thead {
                                border-bottom: 2px solid $border-color;

                                tr {

                                    th {
                                        font-size: 14px;
                                        font-weight: 500;
                                        padding: 8px;
                                        color: $text-color;
                                        border-bottom: 2px solid $border-color;
                                        border-top: 2px solid $border-color;
                                        text-align: left;
                                    }

                                    td {
                                        width: 20%;

                                        @media(max-width: $sm) {
                                            width: 100%;
                                        }
                                    }
                                }
                            }

                            tbody {
                                tr {
                                    border-bottom: 1px solid $border-color;

                                    &:last-child {
                                        border-bottom: none;
                                    }

                                    td {
                                        width: 15%;
                                        font-size: 13px;
                                        color: $text-color;
                                        padding: .25rem;
                                        text-align: left;

                                        @media(max-width: $sm) {
                                            width: 100%;
                                        }

                                        & p {
                                            padding: 0.5rem;
                                            color: #FFF;
                                            border-radius: $radius;
                                            width: 100%;
                                            text-align: center;
                                        }

                                        &#comum p {
                                            background-color: #6c757d;
                                        }

                                        &#comum p {
                                            background-color: #6c757d;
                                        }

                                        &#administrador p {
                                            background-color: $primary-color;
                                        }
                                    }
                                }
                            }

                            .table-buttons {
                                display: flex;
                                gap: 10px;
                                width: 100%;

                                .btn {
                                    background-color: #f5f7fa;
                                    color: $text-color;

                                    &:hover {
                                        background-color: #dfdfe0;
                                    }
                                }
                            }
                        }
                    }

                    @media(max-width: $sm) {
                        padding: .2rem 1rem;

                        .list-users-table-content {
                            padding: .5rem 0;
                        }

                        .list-users-count {
                            font-size: .9rem;
                        }

                        .list-users-actions {
                            align-items: initial;

                            .btn {
                                height: 40px;
                                width: 40px;
                                font-size: 0;
                                padding: .5rem;

                            }
                        }
                    }
                }
            }
        }

        .modal-exclude {
            display: none;

            &.active {
                background-color: #00000060;
                z-index: 20;
                width: 100vw;
                height: 100vh;
                display: flex;
                align-items: center;
                justify-content: center;
                margin: auto;
                position: fixed;
                top: 0;
                left: 0;

                .modal-content {
                    padding: 1rem;
                    background-color: #FFF;
                    box-shadow: $bx-shadow;
                    width: 20%;

                    .modal-header {
                        border-bottom: 1px solid $border-color;
                        display: flex;
                        justify-content: space-between;
                        align-items: center;


                        h2 {
                            font-size: 1.1rem;
                        }

                        .closeModal {
                            padding: 0.5rem;
                            background: none;
                            border: none;
                            color: $description-color;
                            cursor: pointer;
                            transition: .3s;

                            &:hover {
                                color: $primary-color;
                                transition: .3s;
                            }
                        }

                    }


                    .buttons-modal {
                        padding: .5rem;
                        width: 100%;
                        display: flex;
                        gap: 10px;

                        .btn {
                            width: 100%;
                            text-align: center;
                            justify-content: center;
                            font-size: 0.8rem;
                            cursor: pointer;
                        }
                    }


                    @media (max-width: $sm) {
                        width: 90%;

                        .modal-header {
                            h2 {
                                font-size: 1rem;
                            }
                        }
                    }
                }
            }
        }



        .page-cliente-editar {
            padding: 1rem;
            width: 100%;
            margin-left: 16rem;

            @media(max-width: $sm) {
                margin: 0;
            }

            .form-content {
                padding: 0;
                background-color: #FFF;

                .header-modal {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    width: 100%;
                    position: absolute;
                    top: 0;
                    background: #FFF;
                    left: 0;
                    padding: 1rem;
                    box-shadow: $bx-shadow;

                    #closeModal {
                        background: none;
                        border: none;
                        font-size: 1rem;
                        cursor: pointer;
                    }
                }

                .form {
                    padding: 1rem;

                    .form-container {
                        display: grid;
                        grid-template-columns: 1fr 1fr 1fr 1fr;
                        align-items: start;
                        gap: 1rem;

                        @media (max-width: 1366px) and (max-height: 768px) {
                            grid-template-columns: 1fr 1fr;
                        }

                        @media(max-width: 629px) {
                            grid-template-columns: 1fr;

                            .form-category {
                                margin-bottom: 1rem;
                            }
                        }


                    }

                    .form-buttons {
                        width: 100%;
                        display: flex;
                        gap: 10px;
                        justify-content: end;

                        .form-actions {
                            width: 100%;
                            gap: 10px;
                            align-items: center;
                            justify-content: end;
                        }

                        @media(max-width: $sm) {
                            margin-top: 1rem;

                            .btn {
                                display: flex;
                                justify-content: center;
                                width: 100%;
                                text-align: center;
                                font-size: .8rem;
                            }
                        }
                    }
                }
            }
        }

        .page-cliente-info {
            padding: 1rem;
            width: 50%;
            margin: 0 auto;

            .page-cliente-info-content {
                display: block;

                .content-title {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    padding: 2rem 1rem;
                    background-color: #f5f7fa;
                    margin-bottom: 1rem;
                    border-radius: .375rem;
                    box-shadow: $bx-shadow;

                    h2 {
                        color: #4b5563;
                        font-size: 1rem;
                    }

                }

                .page-cliente-info-block {
                    background-color: #FFF;
                    border-radius: $radius;
                    box-shadow: $bx-shadow;
                    border: 1px solid $border-color;
                    margin-top: 1rem;

                    .info-block-header {
                        border-bottom: 1px solid $border-color;
                        padding: 1rem;

                        h3 {
                            font-size: 1rem;
                        }
                    }

                    .info-block-sub-header {
                        border-bottom: 1px solid $border-color;
                        padding: 1rem;

                        p {
                            color: $description-color;
                        }
                    }

                    .info-block {
                        border-bottom: 1px solid $border-color;
                        padding: 1rem;
                        display: flex;
                        justify-content: space-between;

                        p {
                            width: 50%;
                            color: $description-color;
                            font-size: 0.875rem;
                        }

                        div {
                            width: 50%;
                            color: $text-color;
                            width: 50%;
                        }

                        &.action {
                            justify-content: end;
                        }
                    }

                    .info-block:last-child {
                        border-bottom: none;
                    }

                }
            }
        }

        .page-cliente-model-db {
            padding: 1rem;
            width: 100%;
            margin-left: 16rem;

            .model-db-content {
                display: flex;
                gap: 10px;
                flex-wrap: wrap;

                .card-db {
                    background: #FFF;
                    box-shadow: $bx-shadow;
                    max-width: 100%;
                    width: 317px;
                    height: 100%;

                    .card-db-header {
                        text-align: center;
                        padding: 1rem;
                        border-bottom: 1px solid $border-color;
                        font-weight: 600;
                        font-size: 1.5rem;
                    }

                    .card-db-body {
                        ul {
                            li {
                                padding: 0.5rem;
                                border-bottom: 1px solid $border-color;

                                &:last-child {
                                    border-bottom: none;
                                }
                            }
                        }
                    }
                }
            }

            @media(max-width: $sm) {
                margin: 0;

                .model-db-content {
                    .card-db {
                        width: 100%;
                    }
                }
            }
        }
    }
}