.page-form {
    display: flex;
    align-items: center;
    margin: auto;

    .cadastro-content {
        display: grid;
        grid-template-columns: 1fr 2fr;
        align-items: start;
        height: 100vh;
        width: 100vw;

        .form-content {
            padding: 3rem 2rem 1rem 2rem;

            .form {
                height: 65vh;
                overflow: auto;
                padding: 1rem;
            }

            .logo {
                display: flex;
                align-items: center;
                justify-content: center;
                margin-bottom: 2rem;

                img {
                    width: auto;
                }
            }
        }

        .cadastro-description {
            height: 100%;
            background-color: $primary-color;
            display: flex;
            align-items: center;
            padding: 4rem 5rem;

            .cadastro-description-content {
                color: #FFF
            }
        }

        .message_error {
            background: #f43f5e;
            padding: 1rem;
            color: #FFF;
            margin-top: 1rem;
        }

        @media (max-width: 1020px) {
            grid-template-columns: 1fr 1fr;
        }


        @media (max-width: 630px) {
            grid-template-columns: 1fr;

            .cadastro-description {
                display: none;
            }

            .form-content {
                padding: 3rem 1rem 1rem 1rem;

                .form {
                    padding: .5rem;
                    height: auto;
                    overflow: auto;

                    .form-buttons {
                        display: flex;
                        gap: 5px;
                        margin-top: 1rem;

                        .btn {
                            width: 100%;
                        }
                    }
                }
            }
        }
    }
}