// Cores
$primary-color: #1363c6;
$radius: 0.375rem;

$text-color: #111827;
$description-color: #4b5563;
$border-color: #d5dfff;
$danger: #f43f5e;

// Breakpoints com ref: https://tailwindcss.com/docs/container
$sm: 640px;
$md: 768px;
$lg: 1024px;
$xl: 1280px;
$xxl: 1536px;