.feedback {
    .feedback-content {

        .feedback-cards {
            @include content-flex;
            justify-content: center;
            gap: 40px;

            .feedback-cards-item {
                width: 100%;
                background-color: #fafbff;
                border: 1px solid #d5dfff;
                padding: 2rem;
                border-radius: $radius;
                position: relative;
                top: 0;
                transition: box-shadow .2s ease-in-out, transform .2s ease-in-out, top .2s ease-in-out;

                .feedback-cards-item-header {

                    h3 {
                        font-size: 1.5rem;
                    }
                }

                .feedback-cards-item-body {
                    margin: 1rem 0;
                }

                .feedback-cards-item-footer {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;

                    #arrow {
                        position: relative;
                        right: 0;
                        transform: rotate(-90deg);
                        transition: .3s;

                    }
                }

                &:hover {
                    top: -3px;
                    box-shadow: 0 0 16px -7px rgba(0, 0, 0, .5);

                    #arrow {
                        right: -5px;
                        transition: .3s;
                    }
                }
            }

            @media (max-width: 630px) {
                flex-wrap: wrap;
            }
        }
    }
}